.has-error {
  border: #e68080 1px solid;
  background-color: #ffe6e6;
}

.error {
	color: #e68080;
}

.birth {
	width: 200px;
}

.options > span{
	margin-right: 5px;
	cursor: pointer;
}

.options > .edit {
	color: #24658e;
}

.options > .delete {
	color: red;
}